--
-- PostgreSQL database dump
--

\restrict 8FsZVpIVakux8wkd5y6s4YfXZgI9UjrxDIs6IEcAD0TwjIzuXP7MYRKSND1aeLx

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: calls; Type: TABLE; Schema: public; Owner: voiceagent
--

CREATE TABLE public.calls (
    id integer NOT NULL,
    call_sid text,
    caller_number text,
    direction text DEFAULT 'inbound'::text,
    start_time timestamp without time zone,
    end_time timestamp without time zone,
    duration_sec integer DEFAULT 0,
    status text DEFAULT 'in_progress'::text,
    detected_lang text DEFAULT 'auto'::text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.calls OWNER TO voiceagent;

--
-- Name: calls_id_seq; Type: SEQUENCE; Schema: public; Owner: voiceagent
--

CREATE SEQUENCE public.calls_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.calls_id_seq OWNER TO voiceagent;

--
-- Name: calls_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: voiceagent
--

ALTER SEQUENCE public.calls_id_seq OWNED BY public.calls.id;


--
-- Name: extractions; Type: TABLE; Schema: public; Owner: voiceagent
--

CREATE TABLE public.extractions (
    id integer NOT NULL,
    call_id integer,
    extracted_data jsonb,
    lead_status text,
    frappe_synced integer DEFAULT 0,
    frappe_lead_name text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.extractions OWNER TO voiceagent;

--
-- Name: extractions_id_seq; Type: SEQUENCE; Schema: public; Owner: voiceagent
--

CREATE SEQUENCE public.extractions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.extractions_id_seq OWNER TO voiceagent;

--
-- Name: extractions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: voiceagent
--

ALTER SEQUENCE public.extractions_id_seq OWNED BY public.extractions.id;


--
-- Name: transcripts; Type: TABLE; Schema: public; Owner: voiceagent
--

CREATE TABLE public.transcripts (
    id integer NOT NULL,
    call_id integer,
    role text NOT NULL,
    text text NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.transcripts OWNER TO voiceagent;

--
-- Name: transcripts_id_seq; Type: SEQUENCE; Schema: public; Owner: voiceagent
--

CREATE SEQUENCE public.transcripts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.transcripts_id_seq OWNER TO voiceagent;

--
-- Name: transcripts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: voiceagent
--

ALTER SEQUENCE public.transcripts_id_seq OWNED BY public.transcripts.id;


--
-- Name: calls id; Type: DEFAULT; Schema: public; Owner: voiceagent
--

ALTER TABLE ONLY public.calls ALTER COLUMN id SET DEFAULT nextval('public.calls_id_seq'::regclass);


--
-- Name: extractions id; Type: DEFAULT; Schema: public; Owner: voiceagent
--

ALTER TABLE ONLY public.extractions ALTER COLUMN id SET DEFAULT nextval('public.extractions_id_seq'::regclass);


--
-- Name: transcripts id; Type: DEFAULT; Schema: public; Owner: voiceagent
--

ALTER TABLE ONLY public.transcripts ALTER COLUMN id SET DEFAULT nextval('public.transcripts_id_seq'::regclass);


--
-- Data for Name: calls; Type: TABLE DATA; Schema: public; Owner: voiceagent
--



--
-- Data for Name: extractions; Type: TABLE DATA; Schema: public; Owner: voiceagent
--



--
-- Data for Name: transcripts; Type: TABLE DATA; Schema: public; Owner: voiceagent
--



--
-- Name: calls_id_seq; Type: SEQUENCE SET; Schema: public; Owner: voiceagent
--

SELECT pg_catalog.setval('public.calls_id_seq', 44, true);


--
-- Name: extractions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: voiceagent
--

SELECT pg_catalog.setval('public.extractions_id_seq', 49, true);


--
-- Name: transcripts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: voiceagent
--

SELECT pg_catalog.setval('public.transcripts_id_seq', 86, true);


--
-- Name: calls calls_call_sid_key; Type: CONSTRAINT; Schema: public; Owner: voiceagent
--

ALTER TABLE ONLY public.calls
    ADD CONSTRAINT calls_call_sid_key UNIQUE (call_sid);


--
-- Name: calls calls_pkey; Type: CONSTRAINT; Schema: public; Owner: voiceagent
--

ALTER TABLE ONLY public.calls
    ADD CONSTRAINT calls_pkey PRIMARY KEY (id);


--
-- Name: extractions extractions_call_id_key; Type: CONSTRAINT; Schema: public; Owner: voiceagent
--

ALTER TABLE ONLY public.extractions
    ADD CONSTRAINT extractions_call_id_key UNIQUE (call_id);


--
-- Name: extractions extractions_pkey; Type: CONSTRAINT; Schema: public; Owner: voiceagent
--

ALTER TABLE ONLY public.extractions
    ADD CONSTRAINT extractions_pkey PRIMARY KEY (id);


--
-- Name: transcripts transcripts_pkey; Type: CONSTRAINT; Schema: public; Owner: voiceagent
--

ALTER TABLE ONLY public.transcripts
    ADD CONSTRAINT transcripts_pkey PRIMARY KEY (id);


--
-- Name: idx_calls_caller; Type: INDEX; Schema: public; Owner: voiceagent
--

CREATE INDEX idx_calls_caller ON public.calls USING btree (caller_number);


--
-- Name: idx_calls_start; Type: INDEX; Schema: public; Owner: voiceagent
--

CREATE INDEX idx_calls_start ON public.calls USING btree (start_time);


--
-- Name: idx_extractions_call; Type: INDEX; Schema: public; Owner: voiceagent
--

CREATE INDEX idx_extractions_call ON public.extractions USING btree (call_id);


--
-- Name: idx_transcripts_call; Type: INDEX; Schema: public; Owner: voiceagent
--

CREATE INDEX idx_transcripts_call ON public.transcripts USING btree (call_id);


--
-- Name: extractions extractions_call_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: voiceagent
--

ALTER TABLE ONLY public.extractions
    ADD CONSTRAINT extractions_call_id_fkey FOREIGN KEY (call_id) REFERENCES public.calls(id);


--
-- Name: transcripts transcripts_call_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: voiceagent
--

ALTER TABLE ONLY public.transcripts
    ADD CONSTRAINT transcripts_call_id_fkey FOREIGN KEY (call_id) REFERENCES public.calls(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 8FsZVpIVakux8wkd5y6s4YfXZgI9UjrxDIs6IEcAD0TwjIzuXP7MYRKSND1aeLx

